header {
  background-color: #c0740c;
  line-height: 1rem;
  padding: 1rem;
}

.home__bookmark {
  position: relative;
  left: 90%;
  width: 5rem;
  height: 4rem;
  padding: 1rem;
  margin-right: 600px;
  margin-top: -2rem;
  line-height: 10px;
}

.home__card {
  border: 4px solid black;
  justify-content: center;
  text-align: center;
  margin: 3rem;
  line-height: 3rem;
}
.home__tage {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #c0740c;
  padding: 1.6rem;
}
